page-login {
  #rememberMeCheckboxContainer {
    width: 2em;
    display: inline;
  }

  .checkbox input, .checkbox-icon {
    display: inline-block;
    vertical-align: middle;
  }

  #rememberMeLbl {
    vertical-align: middle;
    display: inline;
  }

  #forgotPasswordLink {
    display: inline;
    margin-left: 1em;
    vertical-align: middle;
  }

  #createAccountBtn{
    margin-top: 2em;
    color: #ffffff;
    height: 4em;
    width: 100%;
    font-weight: bold;
    font-size: 12pt;
    background-color: #4D4D4D;
  }
}
