#pango-error-alert-icon {
  margin-top: 5em;
  margin-bottom: 8%;
  height: 102px;
  width:102px;
}

#pango-error-message {
  margin-bottom: 5%;
}

#pango-error-buttons button {
  width: 80%;
  text-align: center;
}
