<ion-tabs *ngIf="platform.is('mobileweb') || platform.is('mobileDevice')">
  <ion-tab [root]="tab1Root" tabIcon="home"  ></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="settings"></ion-tab>
</ion-tabs>
<ion-tabs *ngIf="!platform.is('mobileweb') && !platform.is('mobileDevice')">
  <ion-tab [root]="tab1Root" tabTitle="Home" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Manage"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings"></ion-tab>
</ion-tabs>