<ion-tabs #mainRentTabs  *ngIf="platformDetails.isMobilePhoneDevice()">
  <ion-tab [root]="tab1Root" tabIcon="search" [tabUrlPath]="'search'" ></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="alarm"  [tabUrlPath]="'alerts'"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="heart" [tabUrlPath]="'saved'"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="settings" [tabUrlPath]="'settings'"></ion-tab>
</ion-tabs>

<ion-tabs #mainRentTabs *ngIf="!platformDetails.isMobilePhoneDevice()">
  <ion-tab [root]="tab1Root" tabTitle="Search"[tabUrlPath]="'search'" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Alerts" [tabUrlPath]="'alerts'"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Favorites" [tabUrlPath]="'saved'"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Settings" [tabUrlPath]="'settings'"></ion-tab>
</ion-tabs>