<ion-tabs #mainRentTabs  *ngIf="platformDetails.isMobilePhoneDevice()">
  <ion-tab [root]="tab1Root" tabIcon="search"  ></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="alarm"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="heart"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="settings"></ion-tab>
</ion-tabs>
<ion-tabs #mainRentTabs *ngIf="!platformDetails.isMobilePhoneDevice()">
  <ion-tab [root]="tab1Root" tabTitle="Search" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Alerts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Favorites"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Settings"></ion-tab>
</ion-tabs>