<ion-header no-border>
  <pango-navbar (createAlert)="createAlert($event)" (filter)="filter($event)"></pango-navbar>
</ion-header>
<ion-content padding>

  <ion-item>
    <button ion-button block (click)="getCurrentLocation()">Get my current location</button>
  </ion-item>
  <ion-item *ngIf="currentLocation">
    <div>{{currentLocation}}</div>
  </ion-item>
  <br/>
  <ion-item>
    <button ion-button (click)="getRegistrationDate()" block>Get registration date</button>
  </ion-item>
  <ion-item *ngIf="registrationDate">
    <div>{{registrationDate}}</div>
  </ion-item>
</ion-content>
